body {
	background-color: #DFE6EC;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
p.head {
    background-color: #9C4434; 
	background-image: url(images/topfade.png);
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	font-family: Verdana, Arial, sans-serif; font-weight: bold; color: #CCCCCC;
}

h1 {font-family: Verdana, Arial, sans-serif; font-weight: bold; color: #CCCCCC;}
h2,h3 {font-family: Verdana, Arial, sans-serif; font-weight: bold; color: #9C4434;}
.label {font-family: Verdana, Arial, sans-serif; font-weight: bold; color: #660000;}
p.footer {
	background-color: #9c4434;
	background-image: url(images/bottomfade.png);
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	font-family: Verdana, Arial, sans-serif;
	color: #CCCCCC;
}

.just-red {color: #d00000;}
.jump2content {
	text-decoration: none;
	color: #CCCCCC;
}
.navbar {
	font-family: Verdana, Arial, sans-serif;
	font-size: smaller;
	padding-top: 3px;
	padding-right: 1px;
	padding-bottom: 3px;
	padding-left: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #BACFD6;
	background-image: url(images/navfade.png);
}
.innernavbar {
	font-family: Verdana, Arial, sans-serif;
	font-size: smaller;
	padding-top: 3px;
	padding-right: 1px;
	padding-bottom: 3px;
	padding-left: 1px;
	background-color: #BACFD6;
	background-image: url(images/navfade.png);
}
.subpagenavbar {
	font-family: Verdana, Arial, sans-serif;
	font-size: smaller;
	padding-top: 3px;
	padding-right: 1px;
	padding-bottom: 3px;
	padding-left: 1px;
	/*background-color: #99B9E8;*/
	color: #CCCCCC;
    background-color: #9C4434; 
	background-image: url(images/topfade.png);
	margin-top: 0px;
	margin-bottom: 0px;
}

div.subpagenavbar a {
    color: #99B9E8;
}
div.subpagenavbar a:visited {
    color: #000000;
}

.bottomnavbar{
	font-family: Verdana, Arial, sans-serif;
	font-size: smaller;
	padding-top: 3px;
	padding-right: 1px;
	padding-bottom: 3px;
	padding-left: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #BACFD6;
	background-image: url(images/navfade.png);
}

a:hover,a:visited:hover {
	text-decoration: underline;
}
a,a:visited {
	text-decoration: none;
}


.table-head {font-family: Verdana, Arial, sans-serif; font-size:larger;}
.table-foot {font-size: smaller;}

.bg-sky {
    background-color: #BACFD6;
	background-image: url(images/skyfade.png);
	border: 1px solid #BACFD6;
}
.bg-blue {
    background-color: #99B9E8;
	background-image: url(images/bluefade.png);
	border: 1px solid #99B9E8;
}
.mainbody {
        margin-right: 20px;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
        /*
        width: 80%;
       */
}

.bg-red {background-color: #9C4434;}
.bg-green {
    background-color: #71c96d;
	background-image: url(images/greenfade.png);
	border: 1px solid #71c96d;
}
